$like: #c1f880;
$change: #ff7989;
$move-forward: #a2a8fa;
$sky: #283665;
$bottom-sky: #4f5aa8;

html, body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 120%;
}

body {
  background: -webkit-linear-gradient($sky, $bottom-sky); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($sky, $bottom-sky); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($sky, $bottom-sky); /* For Firefox 3.6 to 15 */
  background: linear-gradient($sky, $bottom-sky); /* Standard syntax */
  padding: 5px 10px;
}

.like-list, .change-list {
  text-align: center;
  ul {
    text-align: left;
    li {
      .like-column, .change-column {
        .like-text {
          color: $like;
          display: table-cell;
          line-height: 1.15em;
          padding-right: 15px;
        }
        .change-text {
          color: lighten($change, 5);
          display: table-cell;
          line-height: 1.15em;
          padding-right: 15px;
        }
      }

      & + li {
        margin-top: 20px;
      }
    }
  }
}

.btn-like.btn {
  color: $sky;
  background-color: $like;
  box-shadow: 0 5px darken($like, 10);
  -webkit-transition: none;
  -moz-transition: none;
}

.btn-like:hover {
  box-shadow: 0 2px darken($like, 10);
  top: 2px;
}

.btn-like:active {
  box-shadow: 0 0 darken($like, 10);
  top: 6px;
}

.btn-change.btn {
  color: $sky;
  background-color: $change;
  box-shadow: 0 5px darken($change, 10);
  -webkit-transition: none;
  -moz-transition: none;
}

.btn-change:hover {
  box-shadow: 0 2px darken($change, 10);
  top: 2px;
}

.btn-change:active {
  box-shadow: 0 0 darken($change, 10);
  top: 6px;
}

button.delete {
  background: none;
  border: none;
  color: $change;
  font-size: 1em;
  opacity: 0.5;
  padding: 0;
  position: relative;
  text-align: center;
  width: 30px;
  height: 30px;
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
}

button.move-forward {
  background-color: $move-forward;
  border: none;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 0.75em;
  opacity: 0.85;
  padding: 0;
  position: relative;
  width: 30px;
  height: 30px;
}

button.delete:hover {
  opacity: 0.5;
  -webkit-transform: scale(0.93);
  -moz-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
}

button.delete:active {
  opacity: 1;
}

.mdi-navigation-close {
  font-weight: 900;
}



button.next-week {
  color: $move-forward;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
}

button.next-week:hover {
}

button.next-week:active {
  text-indent: -290px;
  opacity: 0;
}

button.last-week {
  color: $move-forward;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

button.last-week:hover {
}

button.last-week:active {
  text-indent: -290px;
  opacity: 0;
}

form.date-form {
  color: $move-forward;
  height: 2rem;
}

input.datepicker {
  border: none;
  font-size: .7em;
  height: auto;
  width: auto;
}

.date-row {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 500;

  button {
    font-size: .8rem;
    line-height: 250%;
    background: none;
    border: none;
  }
}

.input-field label {
  color: $move-forward;
}

.input-field textarea:focus.materialize-textarea + label {
  color: $move-forward;
}
textarea:focus.materialize-textarea {
  color: white;
  border-bottom: 1 px solid $move-forward;
  box-shadow: 0 1px 0 0 $move-forward;
}

#login-buttons a {
  text-decoration: none;
  color: $move-forward;
  z-index: 1000 !important;
}

.login-link-and-dropdown-list {
  z-index: 1000;
}

.login-link-text {
  z-index: 1000;
}

.fa-ul {
  margin: 0px;
}

.hidden {
  display: none;
}

.row {
  height: 36px;
}
